.nav-container {
  /* border: 1px solid red; */
  width: 100%;
  padding: 1rem;
}
.nav-container ul {
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  list-style: none;
}
ion-icon {
  color: white;
  font-size: 1.3rem;
}
li a,
button {
  text-decoration: none;
  color: white;
  outline: none;
}
